[project]
	description = This chef cookbook writes custom app configuration values from the OpsWorks stack's custom JSON to a config/application.yml file for each app. The figaro gem can help load those values directly into the application's ENV.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mike Waugh (mwaugh)
[access "refs/for/refs/*"]
	read = group user/Mike Waugh (mwaugh)
	push = group user/Mike Waugh (mwaugh)
	label-Code-Review = -2..+2 group user/Mike Waugh (mwaugh)
	label-Verified = -1..+1 group user/Mike Waugh (mwaugh)
	rebase = group user/Mike Waugh (mwaugh)
	removeReviewer = group user/Mike Waugh (mwaugh)
	submit = group user/Mike Waugh (mwaugh)
[access "refs/heads/*"]
	read = group user/Mike Waugh (mwaugh)
	create = group user/Mike Waugh (mwaugh)
	push = +force group user/Mike Waugh (mwaugh)
	pushMerge = group user/Mike Waugh (mwaugh)
[access "refs/tags/*"]
	push = +force group user/Mike Waugh (mwaugh)
	pushTag = group user/Mike Waugh (mwaugh)
	pushSignedTag = group user/Mike Waugh (mwaugh)
